scikit-learn
scikit-image
scipy
soundfile
soxr
librosa
#libsndfile1
sympy
audio-separator
pyloudnorm
nvidia-ml-py
tzdata
onnx
onnxruntime
#tritonserverclient
openai
numpy
cffi
chardet
transformers
torch
diffusers
flash-attn
imageio
imageio-ffmpeg
